        "input_onedata_token": "{{input_onedata_token}}",
        "output_onedata_token": "{{output_onedata_token}}",
        "input_onedata_providers": "oneprovider2.cloud.ba.infn.it",
        "output_onedata_providers": "oneprovider2.cloud.ba.infn.it",
        "input_onedata_space": "{{input_onedata_space}}",
        "input_path": "{{input_path}}",
        "output_onedata_space": "{{output_onedata_space}}",
{% for N in N_list %}
        "output_path_{{loop.index}}": "{{output_path}}/{{N}}",
{% endfor %}
        "output_filenames": "{{output_filenames}}",
{% for N in N_list %}
        "N_{{loop.index}}": {{N}},
{% endfor %}
        "cpus": 1,
        "mem": "1024 MB",
        "docker_image": "marica/r-docker:latest"
